<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBDemo.Properties.Settings.chantalConnectionString"
            connectionString="server=localhost;user id=root;database=chantal"
            providerName="MySql.Data.MySqlClient" />
        <add name="DBDemo.Properties.Settings.chantalConnectionString1"
            connectionString="server=localhost;user id=root;database=chantal;sslmode=None"
            providerName="MySql.Data.MySqlClient" />
        <add name="DBDemo.Properties.Settings.it_persoenlichkeitenConnectionString"
            connectionString="server=localhost;user id=root;database=it_persoenlichkeiten"
            providerName="MySql.Data.MySqlClient" />
        <add name="DBDemo.Properties.Settings.db_buecherConnectionString"
            connectionString="server=localhost;user id=root;database=db_buecher"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>